.allign-footer {
    text-align: center;
    margin: 0 auto;
    padding-top: 35px;
    font-size: 1em;
    color: #FFFFFF;
    justify-content: center;
}

.allign-footer a{
    text-decoration: none;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}