form {
    
    background-color: #513040;
    border-radius: 6px;
    padding: 40px;
    box-shadow: 15px 20px 6px 2px rgba(0,0,0,0.75);
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    border-radius: 15px;
    border: none;
    outline: none;
}

.output_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    height: 150px;
}